.titlePanel-container {
    background-image: url('../../../public/assets/Colorcard.png');
    height: 70vh;
    padding-top: 10%;
}

.title-subcontainer {
    width: 50%;
    min-width: 500px;
    background-color: azure;
    padding: 10%;
}